@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #10141E;
    font-family: Outfit;
    color: #FFFFFF;
}

.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}