@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #10141E;
    font-family: Outfit;
    color: #FFFFFF;
}

.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

::-webkit-scrollbar {
    background-color: #10141E;
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #FC4747;
    border-radius: 20px;
}

/* video::-webkit-media-controls-panel {
    background-color:  !important;
} */

/* video::-webkit-full-page-media::-webkit-media-controls-panel,
video::-webkit-media-controls-timeline-container {
    color: #FC4747 !important;
    background-color: green !important;
} */

video::-webkit-media-controls-timeline {
    background-color: #FC4747;
    padding-bottom: 0;
    margin-bottom: 20px;
}